
.main-container {
    margin: 0 auto;
    padding: 95px 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 85vh;
}

body {
    background: linear-gradient(90deg, rgba(117,191,105,1) 2%, rgba(89,133,108,1) 35%, rgba(84,183,205,1) 76%, rgba(45,45,45,1) 100%);
  }

.boton {
        display: flex;
        flex-direction: column;
        margin: 60px;
        font-size: 19px;
        padding: 5px 50px;
        border: 2px solid yellow;
        color: rgb(0, 0, 0);
        background: linear-gradient(to right, rgba(123, 0, 255, 0.504), rgba(200, 0, 255, 0.447));
        transition: .3s;
        cursor: pointer;
}

a:hover {
    color:rgb(255, 234, 0);
}